<app-data-input-box
    (taskEvent)="receiveTask($event)"
    [darkTheme]="darkTheme"
>
</app-data-input-box>
<section class="task-list">
    <div class="tasks">
        {{darkThemeTaskListHandle()}}
        @for (task of taskList; track task.description) {
            <div class="item-container">
                @if (task.status === true) {
                    <div class="check" (click)="addCompletedTask(task)"></div>
                    <p class="description josefin-sans-400">{{task.description}}</p>
                } @else {
                    <div class="check complete" (click)="removeCompletedTask(task)">
                        <img class="check-img" src="../../assets/images/icons8-done-50.png">
                    </div>
                    <p class="description josefin-sans-400 completed-task">{{task.description}}</p>
                } 
                <img 
                    class="cross-img" 
                    src="../../assets/images/icon-cross.svg"
                    (click)="removeTask(task)" 
                    alt="cross-img"   
                >
            </div>
        }
    </div>
    <div class="control-btns josefin-sans-400">
        <p class="items-count">{{taskList.length}} items left</p>
        <ul>
            <li class="all-btn" (click)="allBtnHandle()">All</li>
            <li class="active-btn" (click)="activeBtnHandle()">Active</li>
            <li class="completed-btn" (click)="completedBtnHandle()">Completed</li>
        </ul>
        <p class="clear-btn" (click)="clearCompletedTasks()">Clear Completed</p>
    </div>
    <div class="controls-btns-mobile josefin-sans-400"> 
        <ul>
            <li class="all-btn" (click)="allBtnHandle()">All</li>
            <li class="active-btn" (click)="activeBtnHandle()">Active</li>
            <li class="completed-btn" (click)="completedBtnHandle()">Completed</li>
        </ul>
    </div>
</section>