<section>
  <img class="bg-light" src="../assets/images/bg-desktop-light.jpg" alt="background-light-theme">
  <img class="bg-dark" src="../assets/images/bg-desktop-dark.jpg" alt="background-dark-theme">
  <img class="bg-light-mobile" src="../assets/images/bg-mobile-light.jpg" alt="background-light-theme">
  <img class="bg-dark-mobile" src="../assets/images/bg-mobile-dark.jpg" alt="background-dark-theme">
  <app-container 
    class="app-container"
    (darkThemeEvent)="setThemeEvent($event)">
  </app-container>
</section>