section {
    height: 100vh;
}

.bg-light {
    position: absolute;
    width: 100vw;
}

.bg-dark {
    display: none;
}

.bg-light-mobile {
    display: none;
}

.bg-dark-mobile {
    display: none;
}

.dark {
    background: var(--very-dark-blue);
}

.dark .bg-dark {
    display: block;
    position: absolute;
    width: 100vw;
}

.app-container {
    position: relative;
}

@media only screen and (width <= 768px) {
    .bg-light {
        display: none;
    }

    .bg-light-mobile {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;
    }

    .dark .bg-dark {
        display: none;
    }

    .dark .bg-dark-mobile {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;
    }
}