.container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
}

@media only screen and (width <= 1440px) {
    .container {
        padding-top: 50px;
    }
} 

@media only screen and (width <= 1024px) {
    .container {
        padding-top: 80px;
    }
}

@media screen and (width <= 768px) {
    .container {
        width: 80%;
    }
}

@media only screen and (width <= 425px) {
    .container {
        padding-top: 40px;
        width: 90%;
    }
}