header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header > h1 {
    letter-spacing: 10px;
    color: white;
    font-size: 2rem;
}

header > img {
    max-width: 100%;
    object-fit: contain;
}
 
.header .sun-btn:hover,
.header .moon-btn:hover {
    cursor: pointer;
}

.header .sun-btn  {
    display: none;
}

.header.dark .moon-btn {
    display: none;
}

.header.dark .sun-btn {
    display: block;
}