<app-data-input-box (taskEvent)="receiveTask($event)"></app-data-input-box>
<section class="task-list">
    <div class="tasks">
        @for (task of taskList; track task.description) {
            <div class="item-container">
                <div class="check" (click)="addCompletedTask(task)"></div>
                <p class="description josefin-sans-400">{{task.description}}</p>
            </div>
        }
    </div>

    <div class="control-btns josefin-sans-400">
        <p>{{taskList.length}} items left</p>
        <ul>
            <li (click)="allBtnHandle()">All</li>
            <li (click)="activeBtnHandle()">Active</li>
            <li (click)="completedBtnHandle()">Completed</li>
        </ul>
        <p class="clear-btn" (click)="clearCompletedTasks()">Clear Completed</p>
    </div>
</section>
