<app-data-input-box (taskEvent)="receiveTask($event)"></app-data-input-box>
<section class="task-list">
    <div class="tasks">
        @for (task of taskList; track task.description) {
            <div class="item-container">
                <div class="check"></div>
                <p class="description josefin-sans-400">{{task.description}}</p>
            </div>
        }
    </div>

    <div class="control-btns josefin-sans-400">
        <p>{{taskList.length}} items left</p>
        <ul>
            <li>All</li>
            <li>Active</li>
            <li>Completed</li>
        </ul>
        <p class="clear-btn">Clear Completed</p>
    </div>
</section>
